/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

@use "sass:color";

// Colors
$base03-color:    #002b36  !default;
$base02-color:    #073642  !default;
$base01-color:    #586e75  !default;
$base00-color:    #657b83  !default;
$base0-color:     #839496  !default;
$base1-color:     #93a1a1  !default;
$base2-color:     #eee8d5  !default;
$base3-color:     #fdf6e3  !default;
$yellow-color:    #b58900  !default;
$orange-color:    #cb4b16  !default;
$red-color:       #dc322f  !default;
$magenta-color:   #d33682  !default;
$violet-color:    #6c71c4  !default;
$blue-color:      #268bd2  !default;
$cyan-color:      #2aa198  !default;
$green-color:     #859900  !default;

$red-color-dark: #b71c1c !default;
$blue-color-dark: #00369f !default;
$light-cyan-color: color.adjust($cyan-color, $lightness: 25%);
$green-color-lime: #b7d12a !default;
$green-color-dark: #009f06 !default;
$green-color-light: #ddffdd !default;
$green-color-bright: #11d68b !default;
$purple-color: #6c71c4 !default;
$light-purple-color: color.adjust($purple-color, $lightness: 25%);
$pink-color: #f92080 !default;
$pink-color-light: #d33682 !default;


$grey-color: #93a1a1 !default;
$grey-color-light: color.adjust($grey-color, $lightness: 40%);
$grey-color-dark: #073642;
$grey-900: #586e75;

$white-color: #fdf6e3 !default;
$black-color: #002b36 !default;

// Theme colors

$code-bg-color-light: rgba($purple-color, 0.05);
$code-bg-color-dark: #2c3237 !default;

// Font awesome location
$fa-font-path: "../webfonts";

// Tabler icons location
$ti-font-path: "../fonts";

// Back To Top button config
$back-to-top-z-index: 10;
$back-to-top-bottom: 30px;
$back-to-top-right: 30px;
$back-to-top-diameter: 40px;
$back-to-top-height: $back-to-top-diameter;
$back-to-top-width: $back-to-top-diameter;
